/* ------------------------------ */
.recipe-card-container{
    perspective: 1000px;
}

.recipe-card-innercontainer {
    transition: transform 1s;
    transform-style: preserve-3d;

}
.recipe-card-innercontainer .recipe-card-front{
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
}

.recipe-card-container.flipped .recipe-card-innercontainer{
    transform: rotateY(180deg);
}

.recipe-card-front,
.recipe-card-back{
    border: 3px solid #ddd;
    padding: 1.2rem;
    border-radius: 8px;
    width: 300px;
    backface-visibility: hidden;
    height: 500px;
}

.recipe-card-front img{
    width: 100%;
    border-radius: 8px;
}


.recipe-card-back{
    transform: rotateY(180deg);
}

.hidden{
    display:none;
    position: absolute;
}