.video-wrapper {
  position: relative;
  display: inline-block;
}

.video-player {
  width: 640px;
}

.play-button {
  right: 10px;
  bottom: 10px;
  position: absolute;

  visibility: hidden;
}

.video-wrapper:hover .play-button {
  visibility: visible;
}
