.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Set your desired height */
}



.item {
    margin: 10px;
}

.item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.frame {
    background-color: antiquewhite;
    border: 4px solid #cbc7c7; /* Add a 2px solid border with a color of your choice */
    border-radius: 10px;
    padding: 10px; /* Add padding inside the border */
    padding-bottom: 10px ;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    max-width: 230px;
    width: 100%; 
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.frame :hover{
    transform: scale(1.1);
}

.frame img {
    width: 200px; /* Set your desired width */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease; 
}

.frame p {
    margin-top: 10px; /* Add space between the image and text */
    font-size: 15px; /* Set your desired font size */
    color: #333; /* Set your desired text color */
    max-width: 90%; /* Yazının maksimum genişliğini yarıya düşürün */
    text-align: center; /* Center the text within the container */
    word-wrap: break-word;
}



.frame img:hover {
    transform: scale(1.1); /* Resmin üzerine gelindiğinde büyüme efekti ekleyin */
}



















.grup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Set your desired height */
    margin: 10px;
}

.resim {
    margin: 10px;
    
}

.framea {
    background-color: antiquewhite;
    border: 4px solid #cbc7c7; /* Add a 2px solid border with a color of your choice */
    border-radius: 10px;
    padding: 10px; /* Add padding inside the border */
    padding-bottom: 10px ;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    max-width: 230px;
    width: 100%; 
    overflow: hidden;
}

.framea img {    
    width: 200px; /* Set your desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 5px; 
    margin-left: 1px;
    margin-right: 1px;
}

.framea p {
    
    margin-top: 10px; /* Add space between the image and text */
    font-size: 15px; /* Set your desired font size */
    color: #333; /* Set your desired text color */
    max-width: 90%; /* Yazının maksimum genişliğini yarıya düşürün */
    text-align: center; /* Center the text within the container */
    word-wrap: break-word;
}











.button1{
    width: 20px; /* Set your desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 5px; 
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button1 img{
    width: 10px;
    height: 10px;
    justify-content: center;
}


















