/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}
/* Header Section */
header {
	background-color: #333;
	color: #fff;
	padding: 1.25rem 0;
	font-size: 1.25rem;
}

nav ul {
	display: flex;
	gap: 20px;
	margin-left: 1.25rem;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover{
	color: #ababab;
	text-decoration: underline;
}

/* Main Section */
#home{
	background-color: #f2f2f2;
	text-align: center;
}
h1{
	padding: 1.25rem;
	font-size: 1.5rem;
	font-weight: 900;
}
h2{
	font-size: 1.25rem;
	font-weight: 700;
}
h3{
	font-size: 1rem;
	font-weight: 600;
}
h4{
	font-weight: 600;
}
img{
	width: 20%;
	border-radius: 50%;
	margin: 1.25rem;
}

.icons{
	padding-bottom: 1.25rem;
}

.icons > * {
	margin: .75rem;
	color: #333;
}

/* About Me Section */

.about-projects{
	background-color: #fff;
	padding: 1.5rem;
}
.about-projects article{
	margin: 1rem;
}

/* Skills Section */
#skills {
	background-color: #f2f2f2;
	padding: 1.5rem;
}
#skills ul {
	column-count: 2;
	margin: 1rem;
}
#skills ul li {
	margin-bottom: .75rem;
}
#contact {
	background-color: #f2f2f2;
	padding: 1.5rem;
}

#contact div {
	margin: .75rem 0;
}
label {
	display: block;
	margin-bottom: .25rem;
}
input[type="text"], input[type="email"]{
	height: 1.5rem;
}

input, textarea {
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333;
}

input[type="submit"]{
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}

input[type="submit"]:hover{
	background-color: #777777;
}

footer{
	background-color: #333;
	color: #fff;
	padding: 1.25rem;
	text-align: center;
}